@import '../../../../../styles/variables.scss';

.infoPassword {
  position: absolute;
  background-color: #F6F6F4;
  top: 62px;
  right: -82px;
  z-index: 999;
  visibility: hidden;
  transition: all 0.3s ease;

  &.show {
    visibility: visible;
  }

  &:after {
    content: '';
    position: absolute;
    top: -18px;
    right: 55px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 18px solid #F6F6F4;
  }

  .content {
    padding: 13px 18px;

    h3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: $secondary-vt-color;
    }

    ul {
      margin-bottom: 0;

      li {
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
        color: $secondary-vt-color;
      }
    }
  }
}