.footer_scetion {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #5c1a53;
  @media (max-width: 767px) {
    text-align: center;
  }
  .footer_links {
    @media (max-width: 768px) {
      padding: 0px 20px;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  h2 {
    @media (max-width: 768px) {
      font-size: 33px;
    }
  }
  .imageborder {
    margin-bottom: 32px;
  }
  h3 {
    margin-bottom: 32px;
    font-size: 24px;
    font-family: "Manrope", sans-serif !important;
  }
  ul {
    &.sublinks {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
      @media (max-width: 468px) {
        display: grid;
        justify-content: left;
        padding: 0px 20px;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 49px;
        grid-column-end: 1;
      }
      li {
        @media (max-width: 468px) {
          margin-right: 0px;
        }
        list-style: none;
        margin-right: 40px;
        &:last-child {
          margin-right: 0px;
          @media (max-width: 468px) {
            margin-right: 0px;
            grid-column-end: 1;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-end: 3;
            text-align: center;
          }
        }
      }
    }
  }
  p {
    max-width: 352px;
    width: 100%;
    text-align: left;
    @media (max-width: 468px) {
      &.list_section {
        text-align: center;
        max-width: unset;
      }
    }
  }
  ul {
    padding-left: 0px;
    li {
      list-style: none;
      text-align: left;
      a {
        font-size: 12px;
      }
    }
  }

  .rlativesection {
    position: relative;
    .mailsection {
      @media (max-width: 768px) {
        position: relative;
        justify-content: center;
      }
      position: absolute;

      bottom: 0;
      display: flex;
      p {
        margin-left: 10px;
        @media (max-width: 468px) {
          text-align: center !important;
        }
      }
    }
  }
}
.info {
  .list {
    align-items: center;
    padding: 30px 0px;
    @media (max-width: 468px) {
      padding: 20px 0px 5px 0px;
    }
    p {
      font-size: 12px;
      margin-bottom: 0px;
      @media (max-width: 468px) {
        display: none;
      }
    }

    .copy {
      @media (max-width: 468px) {
        display: none;
      }
    }
    .imge_section {
      text-align: center;
      img {
        @media (max-width: 468px) {
          width: 30px;
        }
      }
    }
  }
}
