@import "../variables.scss";
// .container {
//   padding: 0 2rem;
// }

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

// Home page
.bannersec {
  @media (max-width: 767px) {
    padding: 0px 15px;
  }
  h1 {
    width: 100%;
    max-width: 836px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    color: #611e58;
    span {
      color: #daa75b;
    }
    @media (max-width: 767px) {
      font-size: 37px;
    }
  }
  p {
    font-size: 20px;
    max-width: 667px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
    font-family: "Manrope", sans-serif !important;
    @media (max-width: 767px) {
      font-size: 14px;
      padding-bottom: 20px;
    }
  }
  .buttonsection {
    max-width: 543px;
    width: 100%;
    margin: 0 auto;
    .button_val {
      @media (max-width: 767px) {
        text-align: center;
      }
      a {
        margin-bottom: 10px;
      }
      p {
        font-size: 12px;
        max-width: 212px;
        font-family: "Manrope", sans-serif !important;
      }
    }
  }
}

.partnerlist {
  text-align: center;
  &.Program_section {
    position: relative;
    margin-bottom: 290px;

    @media (max-width: 767px) {
      margin-bottom: 90px;
    }
    h3 {
      max-width: 634px;
      width: 100%;
      margin: 0 auto;
      color: #ffffff;
      padding-bottom: 16px;
      span {
        color: #daa75b;
      }
    }
    .iframe_card {
      background-color: #611e58;
      padding: 28px;
      max-width: 846px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: -114px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      .iframe_card_content {
        position: relative;
        &::after {
          background-image: url("../../public/images/cardgray.svg");
          content: "";
          position: absolute;
          width: 259.15px;
          height: 284px;
          left: -75px;
          top: 20px;
          background-repeat: no-repeat;
        }
        &::before {
          background-image: url("../../public/images/cardgray1.svg");
          content: "";
          position: absolute;
          width: 110px;
          height: 120.55px;
          right: -39px;
          bottom: -67px;
          background-repeat: no-repeat;
        }
      }
    }
  }
  img {
    &.border_line {
      margin: 40px 0px;
    }
  }
  img {
    margin-bottom: 0px;
  }

  h6 {
    max-width: 552px;
    width: 100%;
    margin: 20px auto;
    color: #5c1a53;
    @media (max-width: 767px) {
      font-size: 20px;
    }
    span {
      color: #371032;
    }
  }
  p {
    span {
      color: #5c1a53;
      text-decoration: underline;
    }
  }
}

.careercontent {
  margin: 0px 80px;
  @media (max-width: 767px) {
    margin: 0px;
    padding: 0px 15px;
  }
  img {
    margin-bottom: 20px;
  }
  h4 {
    color: #daa75b;
    margin-bottom: 18px;
  }
  h2 {
    color: #611e58;
    margin-bottom: 32px;
  }
  p {
    &.p-primary {
      margin-bottom: 30px;
      color: #371032;
    }
  }
  a {
    text-decoration: underline;
    color: #5c1a53;
  }
  h3 {
    margin-top: 56px;
    margin-bottom: 12px;
    color: #611e58;
  }
  .image_container {
    width: 100%;
    > div {
      position: unset !important;
    }

    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}

// End Home Page

// contempary - start

.contempary_sec{
  background-color: $secondary-vt-color;
  padding: 90px 0;
  h2{
    color: $color-white;
    font-weight: 500;
    margin-bottom: 53px;
    span{
      color: $color-yellow;
    }
  }
  .contempary_tabs{
    .nav_item{
      position: relative;
      a{
        padding: 5px 0;
        color: $color-white;
        font-size: 18px;
        text-transform: capitalize;
        margin-right: 73px;
      }
    }
    .nav_item::after{
      content: '';
      background-image: url(../../public/images/empty_diamond.png);
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      height: 23px;
      width: 17px;
    }
    .nav_item:last-child{
      margin-right: 0;
    }
    .nav_item:last-child::after{
      background-image: none;
    }
  }
  .contempary_tab_content{
    h6{
      font-size: 24px;
      color: $color-white;
      font-family: "Playfair Display", serif;
      margin-bottom: 32px;
      font-weight: 300;
      span{
        color: $color-yellow;
        display: block;
      }
    }
    p{
      color: $color-white;
      font-size: 14px;
      font-weight: 300;
    }
  }
}


// contempary - end

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
