@import "../../../styles/variables.scss";

.header {
  padding: 35px 0px;
  .sectionlist {
    a {
      padding: 0 15px !important;
      color: $secondary-vt-color;
      font-size: 16px;
      font-weight: 600;
      transition: 0.5s ease;
    }
    .mega_menu_layout {
      position: absolute;
      background-color: $color-white;
      left: 0;
      right: 0;
      padding: 47px 0 47px 79px;
      z-index: 1;
      box-shadow: 0px 10px 10px rgba(92, 26, 83, 0.1);
      margin-top: 48px;
    }
    .fly_content {
      display: none;
      h3,
      p {
        color: $secondary-vt-color;
        font-weight: 400;
      }
      p {
        font-size: 20px;
        max-width: 250px;
      }
      .nav_links {
        a {
          font-size: 30px;
          line-height: 0.93;
          letter-spacing: 0.5px;
          font-weight: 500;
          font-family: "Playfair Display", serif;
          text-decoration: none;
          position: relative;
          display: flex;
          padding: 31px 0 !important;
          margin-bottom: 40px;
          span {
            align-self: center;
            margin-left: 10px;
          }
        }

        a:nth-child(odd) {
          color: $secondary-vt-color;
        }
        a:nth-child(even) {
          color: #d35f33;
        }
        a::after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 100%;
          width: 100%;
          opacity: 0.7;
        }
        a:nth-child(odd)::after {
          background: linear-gradient(
            270deg,
            #5c1a53 0%,
            rgba(92, 26, 83, 0) 65.37%,
            rgba(227, 165, 75, 0) 65.38%
          );
        }
        a:nth-child(even)::after {
          background: linear-gradient(
            270deg,
            #e3a54b 0%,
            rgba(227, 165, 75, 0) 68.61%
          );
        }
      }
    }
    .fly_cont:hover {
      .fly_content {
        display: block;
      }
    }

    .discover_content {
      position: absolute;
      padding: 47px 79px;
      .ryt_brdr {
        position: relative;
      }
      .ryt_brdr::after {
        content: "";
        background-color: $secondary-vt-color;
        height: 100%;
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: inline-block;
      }
      .about_cards {
        position: relative;
        padding-left: 25px;
        max-width: 260px;
        margin: 0 auto 49px;
        h5 {
          color: $secondary-vt-color;
          margin-bottom: 10px;
        }
        p {
          color: $secondary-vt-color;
        }
      }
      .about_cards::before {
        content: "";
        background-image: url(../../../public/images/diamond_icon.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        height: 23px;
        width: 17px;
      }
      .announcement_card {
        border: none;
        max-width: 250px;
        margin: 0 auto;
        .title_txt {
          color: $secondary-vt-color;
          font-size: 18px;
          font-weight: 500;
          font-family: "Playfair Display", serif;
          margin-bottom: 8px;
        }
        .announce_body {
          padding: 10px 0;
          margin: 8px 0;
          p {
            font-size: 14px;
            color: $secondary-vt-color;
            font-weight: 400;
            line-height: 1.5;
          }
          a {
            padding: 0 !important;
            color: $secondary-vt-color;
            font-weight: 700;
            text-decoration: underline;
            img {
              margin-left: 5px;
            }
          }
        }
        figure {
          margin-bottom: 0;
        }
      }
    }
  }
}
