@import "../../../styles/variables.scss";

.LoginModal {
  .titleHeader {
    color: $secondary-vt-color;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    padding-top: 25px;
  }

  .body_content {
    .socialmedia {
      margin-right: 15px;
    }

    .line {
      display: inline-block;
      background: #5C1A53;
      height: 28px;
      width: 1px;
      opacity: 0.2;
      margin-right: 15px;
    }
  }
}