.wrapper {
  overflow-x: hidden;
}

.react_player {
  width: 100%;
  max-width: 1062px;
  height: 478px !important;
  margin: 0 auto;
}
.max_323 {
  max-width: 323px !important;
  width: 100%;
  font-size: 14px !important;
  margin-bottom: 0px !important;
}
.slicksection {
  font-family: "Playfair Display", serif;
  margin-bottom: 12px !important;
}
:not(.btn-check) + .btn:active {
  background-color: #dacdd8 !important;
  border-color: #dacdd8 !important;
}
.rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: relative;
  width: 385px;
  height: 534px;
  left: 10px;
  top: 10px;
}

.rhombus-parent {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 385px;
  height: 534px;
}
.learing_sec
  .slick-slide.slick-active.slick-center.slick-current
  .card_section {
  height: 473px;
  background-color: #daa75b;
  margin: 0px 30px 0px 0px;
  color: #fefefe;
}
.learing_sec
  .slick-slide.slick-active.slick-center.slick-current
  .card_section
  h4 {
  font-size: 32px;
}
.learing_sec .slick-slide .card_section {
  height: 428px;
  margin: 44px 30px 0px 0px;
  background-color: #fcf7f7;
  color: #651056;
  border: 0px;
  border-radius: 0px;
}
.learing_sec .slick-slide .card_section h4 {
  font-size: 24px;
}
.learing_sec .slick-slide.slick-active {
  margin-right: 0px !important;
}
.learing_sec .card_section p.card-text {
  max-width: 294px;
  margin: 0 auto;
  font-size: 14px;
}
.learing_sec .card_section .card-body {
  position: relative;
}
.learing_sec .card_section .card-body .card_body_content {
  position: absolute;
  padding: 0px 59px 70px 59px;
  bottom: 0px;
}
.learing_sec .card_section .card-body .card_body_content img {
  margin: 38px auto;
}
.slick-slider .slick-list {
  padding: 0px !important;
}
.Faqsec .accordion-button {
  border: 0px !important;
  padding: 30px 0px !important;
}
.Faqsec .accordion-item {
  border: 0px !important;
}
.Faqsec .accordion-header {
  border-bottom: 1px solid rgba(92, 26, 83, 0.2);
  margin-bottom: 30px;
}
.Faqsec .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.Faqsec .accordion-button:focus {
  box-shadow: none;
}
.Faqsec .accordion-button::after {
  background-image: url("/images/accordanimg.svg");
  width: 17.49px;
  height: 12.49px;
  background-position: center;
  background-repeat: no-repeat;
}
.contem_tabs .nav-link.active {
  opacity: 1 !important;
  border-bottom: 1px solid #fff;
}
.contem_slider .container {
  padding: 0 15px;
}
.contem_slider .slick-prev {
  background-image: url(../public/images/left_arrw.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 64px;
  z-index: 1;
  left: -30px;
}
.contem_slider .slick-next {
  background-image: url(../public/images/right_arrw.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 64px;
  z-index: 1;
  right: 10px;
}
.contem_slider .slick-prev:before,
.contem_slider .slick-next:before {
  content: "";
}

.header_resp .nav-link.active{
  color: #5C1A53;
  /* border-bottom: none; */
}

.mg_menu, .discover_menu, .accerdasign_menu, .fly_menu{
  right: -100%;
}

.mg_menu.active, .discover_menu.active, .accerdasign_menu.active, .fly_menu.active{
  right: 0;
}


@media only screen and (max-width: 991px){
  .header_resp .navbar-brand{
    padding: 0 15px;
  }
  .header_resp .navbar-toggler {
    border: none;
  }
  .header_resp .navbar-toggler:focus {
    box-shadow: none;
  }
  .header_resp .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url(../public/images/humberger_menu.png);
    background-size: 24px;
  }
  .header_resp .navbar-toggler .navbar-toggler-icon {
    background-image: url(../public/images/close_icon.png);
    background-size: 24px;
  }

  .header_resp {
    border-bottom: 1px solid #5c1a53;
  }
}

@media only screen and (max-width: 768px) {
  .contem_slider .slick-prev {
    left: -10px;
  }
  .contem_slider .slick-next {
    right: -10px;
  }

  .contempary_sec .col_12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 767px) {
  .rhombus {
    width: 162px !important;
    height: 226px !important;
    margin: 0 auto !important;
  }
  .rhombus-parent {
    width: 162px !important;
    height: 226px !important;
    margin: 0 auto !important;
  }
  .learing_sec
    .slick-slide.slick-active.slick-center.slick-current
    .card_section {
    margin: 0px;
  }
  .learing_sec
    .slick-slide.slick-active.slick-center.slick-current
    .card_section {
    background-color: #fcf7f7;
    color: #651056;
  }
  .Faqsec .accordion-body {
    text-align: left;
    font-size: 12px;
  }
  .Faqsec .accordion-header {
    margin-bottom: 0px;
  }
  .Faqsec .accordion-button::after {
    background-size: 14px;
  }

  .header_resp .container {
    justify-content: flex-end;
  }
  .header_resp {
    position: relative;
  }
  .header_resp .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18px;
  }
  .header_resp .navbar-brand img {
    height: 32px;
    width: 155px;
  }
}

@media screen and (min-width: 998px) and (max-width: 1094px) {
  .learing_sec .card_section .card-body .card_body_content {
    position: absolute;
    padding: 0px 20px;
    bottom: 86px;
    left: 0px;
  }
}
