@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import "./buttons/buttons.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Typography //

.container {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 80px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.p-primary {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}
.p-secondary {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

// Typography //

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
