// violet-colors //
$primary-vt-color: #611e58;
$secondary-vt-color: #5c1a53;
$tertiary-vt-color: #371032;
// violet-colors //

// yellow-colors //
$color-yellow: #daa75b;
// yellow-colors //

// default-colors //
$color-white: #fff;
$color-black: #000;
// default-colors //
