
// violet-colors //
$primary-vt-color: #611E58;
$secondary-vt-color: #5C1A53;
$tertiary-vt-color: #371032;
// violet-colors //

// yellow-colors //
$color-yellow: #DAA75B;
// yellow-colors //

// default-colors //
$color-white: #fff;
$color-black: #000;
// default-colors //


